*{
  margin: 5px;
}

.column-izq, .column-center, .column-der{
  float: left;
}

.der{
  margin-left: 217px;
}

.izq {
  display: flex;
  flex-direction: column;
}

.column-center{
  display: flex;
  flex-direction: column;
}

button{
  margin: 5px;
}